.VPHome {
  // 定义遮罩样式
  background: radial-gradient(ellipse,
      rgba(var(--bg-gradient-home), 1) 38%,
      rgba(var(--bg-gradient-home), 0) 100%);

  // 自定义首页背景图
  &::before {
    background-image: url(./assets/bg.svg);
    background-size: cover;
  }
  .blog-item {
    border-radius: 8px;
  }
  .blog-item .pin::before {
    // 修改颜色
    background-image: linear-gradient(var(--blog-theme-color), var(--blog-theme-color));
  }
}